.slider-score {
 margin-bottom: 10px;
}


.input-card {
  max-width: 400px;
  display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 30%;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
