<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
*/
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }


   /* .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }  */

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  } 

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
  }

   .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #c5e2ff;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  } 
  
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  } 



  

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } 

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">  
  <h2 style="padding-left: 50px ;">Score Predictor</h2>
</div>

<div class="content" role="main">
  <div class="card-container">
    <h2 class="drop-down-text">Year</h2>
    <ng-select [items]="years" [(ngModel)]="selectedYear" class="drop-down"></ng-select>
    <h2 class="drop-down-text">Host country</h2>
    <ng-select [items]="hostCountries" [(ngModel)]="selectedHostCountry" (change)="countrySelected($event)" class="drop-down"></ng-select>    
    <h2 class="drop-down-text">Ground</h2>
    <ng-select [items]="grounds" [(ngModel)]="selectedGround"  class="drop-down"></ng-select>
  </div>
  <div class="card-container">
    <h2 class="drop-down-text">Batting Team</h2>
    <ng-select [items]="teams" [(ngModel)]="battingTeam" class="drop-down"></ng-select>
    <h2 class="drop-down-text">Bowling Team </h2>
    <ng-select [items]="teams" [(ngModel)]="ballingTeam" class="drop-down bowling-team"></ng-select>
      <div class="card card-small set-averag-btn" (click)="setDefaults()" tabindex="0">
        <h3>Set Average Values</h3>
      </div>
  </div>
  
  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 30 overs   {{valueObject.score_30}} / {{valueObject.wickets_30}}</h2>
    <h2>Runs</h2>
    <ng5-slider [(value)]="valueObject.score_30" [options]="sliderOptions.ov30op" class="score"></ng5-slider>

    <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_30" [options]="sliderOptions.wkt30op" class="wicket"></ng5-slider>
  </div>
  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 25 overs   {{valueObject.score_25}} / {{valueObject.wickets_25}}</h2>
    <h2>Runs</h2>
    <ng5-slider [(value)]="valueObject.score_25" [options]="sliderOptions.ov25op" class="score"></ng5-slider>

    <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_25" [options]="sliderOptions.wkt25op" class="wicket"></ng5-slider>
  </div>
  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 20 overs   {{valueObject.score_20}} / {{valueObject.wickets_20}}</h2>
    <h2>Runs</h2>
    <ng5-slider [(value)]="valueObject.score_20" [options]="sliderOptions.ov20op" class="score"></ng5-slider>

    <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_20" [options]="sliderOptions.wkt20op" class="wicket"></ng5-slider>
  </div>
  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 15 overs   {{valueObject.score_15}} / {{valueObject.wickets_15}}</h2>
    <h2>Runs</h2>
    <ng5-slider [(value)]="valueObject.score_15" [options]="sliderOptions.ov15op" class="score"></ng5-slider>

    <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_15" [options]="sliderOptions.wkt15op" class="wicket"></ng5-slider>
  </div>
  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 10 overs   {{valueObject.score_10}} / {{valueObject.wickets_10}}</h2>
    <h2>Runs</h2>
    <ng5-slider [(value)]="valueObject.score_10" [options]="sliderOptions.ov10op" class="score"></ng5-slider>

    <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_10" [options]="sliderOptions.wkt10op" class="wicket"></ng5-slider>
  </div>

  <div class="card-container">
    <h2 class="end-of-overs-txt">End of 5 overs wickets {{valueObject.wickets_10}}</h2>
     <h2>Wickets</h2>
    <ng5-slider [(value)]="valueObject.wickets_5" [options]="sliderOptions.wkt5op" class="wicket"></ng5-slider>
  </div>
  



  <div class="card-container">
    <a class="card" (click)="calculateScore()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" />
      </svg>

      <h2>Predict Score</h2>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
      <h1 style="margin-left: 200px;">DL Prediction = {{predictionResult?.prediction?.dlPrediction}} </h1><h1 style="margin-left: 200px;"> Score Prediction = {{predictionResult?.prediction?.score}}</h1>
  </div>
 



</div>




<router-outlet></router-outlet>
